/*CSS dos portfólios*/

:root {
    --cor1-fundo : rgb(0, 0, 0);
    --cor2-hover : rgb(119, 116, 130);
    --cor2-primaria : rgb(255, 255, 255);
}

.drop-menu {
    background-color: var(--cor1-fundo);
}

.drop-menu ul {
    list-style: none;
    text-align: center;
    background-color: var(--cor1-fundo);
    display: flex;
    max-width: 1100px;
}

.drop-menu ul li {
    display: inline;
    position: relative;
}

.drop-menu ul li a {
    color: var(--cor2-primaria);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    transition: background-color 0.3s ease; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    background-color: var(--cor1-fundo);
}

.drop-menu ul li a:hover {
    background-color: var(--cor2-hover);
}

/* Submenu */

.drop-menu ul ul {
    display: none;
    position: absolute;
    text-align: center;
}

.drop-menu ul li:hover ul {
    display: block;
}

body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* --------------------------------------------------------------------- */

.portfolio {
    padding: 20px;
}

.category {
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.logo {
    display: inline-block;
    margin: 0 10px;

}

.logo img {
    
    max-width: 240px;
    border: 1px solid #ddd;
    border-radius: 100px;
}


/*CSS do Header dos portfólios*/

header{
	background-color:black;
	padding: 2px;
}

figure{
    display: flex;

}

.figureImg{
    width: 100px;
    height: auto;
    border-radius: 10px;
}

figcaption{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:white;
    font-size:25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.figCaptionNome {
    color:black;
    font-style: italic;
}

/* --------------------------------------------------------------------- */

/*CSS da apresentação com imagem e informações*/

.section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1{
    display: flex;
    align-items: center;
    padding: 5px;
    width: 500px;
    border: solid 3px black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section img{
    width: 200px;
    margin: 20px;
}

/* --------------------------------------------------------------------- */

/*CSS do footer dos portfólios*/

footer{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	color:white;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

/* --------------------------------------------------------------------- */
