/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 200;
    padding: 200;
    background-color: #f7f7f7;
    border-bottom-right-radius: 20;
    Font-size: 18px;

    
}

header h1 {
    margin: 500;
    border-radius: 50px;
    text-align: right;
    color: #000000;
    width: 100%
    
}
 
.category h2 {
    margin: 500;
    border-radius: 50px;
    text-align: right;
    color: #000000;  
    text-align: center;

}

.category h3 {
    margin: 500;
    border-radius: 50px;
    text-align: right;
    color: #0e0d0d;  
    text-align: center;
}

.category h4 {
    margin: 500;
    border-radius: 50px;
    text-align: right;
    color: #000000;  
    text-align: center;

}

footer h5 {
    margin: 500;
    border-radius: 50px;
    text-align: right;
    color: #000000;  
    text-align: center;
}

/* Responsividade */
@media screen and (max-width: 768px) {

    }
    .container {
        
        width: 100%;
    }

    form button {
       
        width: 100%;
     
    }