* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grande {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 20px;
}

header {

    text-align: center;
    display: flex;
    
    align-items: flex-start;
    background-color: rgb(218, 218, 218);

}
#minifoto{
    width: 4%;
    border-radius: 50%;
    height: auto;
}

footer {
    text-align: center;
}

#dados {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#foto {
    width: 30%;
    height: auto;
    margin-right: 35px;
    border-radius: 5%;
    margin-bottom: 10px;
}

#valores {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    margin-bottom: 3px;
}

b {
    font-weight: bold;
}