* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grande {
    font-family: Arial, sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
}

header {
    background-color: rgb(218, 218, 218);
    padding: 20px;
    text-align: center;
}

#minifoto {
    width: 40px;
    border-radius: 50%;
    height: auto;
}

#grande {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#dados {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#foto {
    width: auto;
    height: 150px;
    max-width: 100%;
    margin-right: 50px;
    border-radius: 5%;
    margin-bottom: 10px;
}

#valores {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    margin-bottom: 3px;
}

b {
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 20px;
}
@media screen and (max-width: 1416px) {
    #foto {
      margin-right: 0px;
    }
  }